# Dependencies
node_modules/
.pnpm-store/

# Nuxt
.nuxt/
.output/
dist/
.nitro/
.cache/
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Env
.env
.env.*
!.env.example

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Build
*.tgz
